<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width-device-width ,intial-scale , shrink-to-fit=no">

</head>
<body>
    <style>
        html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

    </style>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        {% if request.user.is_authenticated %}
        <nav class="my-2 my-md-0 mr-md-3">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'account' %}">account</a>
          <a href="{% url 'logout' %}">logout</a>
          <a href="{% url 'home' %}">Home</a>
        {% else %}
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'register' %}">register</a>
        <a href="{% url 'login' %}">login</a> 

        {%endif%}
      </div>

      
    
      
